openapi: 3.0.0
info:
  title: Announcements v2
  version: '2.0'
  contact:
    name: Tom Zagorski
    url: signalkit.com
servers:
  - url: 'https://app.signalkit.com/api/announcements/v2'
paths:
  /announcements/:
    post:
      summary: Create an announcement
      tags: []
      responses: {}
    get:
      summary: "Get a user's announcements"
      tags: []
      responses: {}
    patch:
      summary: Updated part of an announcement
      tags: []
      responses: {}
    put:
      summary: Update an announcement
      tags: []
      responses: {}
    delete:
      summary: Delete an announcement
      tags: []
      responses: {}
  /bulk-import/:
    post:
      summary: Create a batch of announcements
      tags: []
      responses: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                announcement_type:
                  type: string
                include_author_name:
                  type: string
                source:
                  type: string
                recordings:
                  type: array
                  items:
                    type: object
                    properties:
                      audio_url:
                        type: string
                      language:
                        type: string
                        description: 'Language Name. For example, "English" or "Spanish".'
                    required:
                      - audio_url
                      - language
                content_template:
                  type: string
                email_content_template:
                  type: string
                email_subject:
                  type: string
                sms_content_template:
                  type: string
                phone_content_template:
                  type: string
                merge_variables:
                  type:
                    - string
                    - array
                  items:
                    type: object
                    properties:
                      from_group:
                        type: string
                      target_group:
                        type: string
                      user_ids:
                        type: string
                      referring_to_user_id:
                        type: string
                      send_at:
                        type: string
                      target_group_type:
                        type: string
                        enum:
                          - school
                          - class
                          - group
                        example: school
                      referring_to_user_type:
                        type: string
                        enum:
                          - staff
                          - student
                          - contact
                        example: student
                      from_group_type:
                        type: string
                      user_type:
                        type: string
                    required:
                      - target_group
                      - referring_to_user_id
                      - target_group_type
                      - referring_to_user_type
      parameters: []
